:root {
    --font-primary: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    --font-display: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.container-q97qHp {
    font-weight: 700 !important;
}

.username-h_Y3Us, .name-3Vmqxm, .username-u-ebrn {
    font-weight: 500 !important;
}

.zalgo-26OfGz .messageContent-2t3eCI, .name-3Uvkvr, .title-17SveM, .slateTextArea-27tjG0 {
    font-size: 0.95em;
}
